@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;800&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h2, p, li{
  color: #FAF9FA;
  font-weight: 300;
  margin: 0;
  padding: 0;
  word-spacing: 0.2rem;
}


body{
  background-color: black;
}